*~
*.swp
*.bib
*.csh
application/rapelaVisionStmt.*
!application/rapelaVisionStmt.tex
!application/rapelaVisionStmt.pdf
application/rapelaPersonSpecification.*
!application/rapelaPersonSpecification.tex
!application/rapelaPersonSpecification.pdf
application/rapelaCV.*
!application/rapelaCV.tex
!application/rapelaCV.pdf
application/rapelaVisionStmt_old.tex
application/rapelaPersonSpecification_new.tex
application/rapelaCV_long.tex
